{% extends "base.html" %}
{% block index %}
    <div class="container">
        <nav>
            {% include "block_head.html" %}
        </nav>

        <strong>Make routing dynamicaly</strong>
        <a href="{{ url_for('us',parts={'name':'alalal','page':'dfgdfg'}, query={"HACKER":"YESBABAY","PRO":"YES"}) }}"> Us name page</a>
        <hr>
        <div class="content">
            <div class="col3 border">

                <ul class="menu">
                    <li class="menuitem">elementMenu</li>
                    <li class="menuitem">elementMenu</li>
                    <li class="menuitem">elementMenu</li>
                    <li class="menuitem">elementMenu</li>
                    <li class="menuitem">elementMenu</li>
                </ul>
            </div>
            <div class="col8 border">
                {% block login %} {% endblock %}
                {% block redirect_name %} {% endblock %}
                {% block debuginfo %} {% endblock %}
                {% block tester %} {% endblock %}
            </div>
        </div>

        <footer>
            {% include "block_footer.html" %}
        </footer>
    </div>
{% endblock %}
